<h1>Edit this photo my man!</h1>

<form action="http://localhost:3000/update_photo/:id">
  <div>
    <label for="id">ID:</label>
    <input type="text" name="the_caption" value="<%= @zebra.id %>">
  </div>
  <div>
    <label for="photo_caption">Caption:</label>
    <input type="text" name="the_caption" value="<%= @zebra.caption %>">
  </div>
  <div>
    <label for="photo_image_url">Image URL:</label>
    <input type="text" name="the_caption" value=" <%= @zebra.source %> ">
  </div>
  <input type="submit" value="Edit photo">
</div>
</form>
